<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Insertion</servlet-name>
  	<display-name>Insertion</display-name>
  	<description></description>
  	<servlet-class>com.controller.Insertion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Deletion</servlet-name>
  	<display-name>Deletion</display-name>
  	<description></description>
  	<servlet-class>com.controller.Deletion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Retriev</servlet-name>
  	<display-name>Retriev</display-name>
  	<description></description>
  	<servlet-class>com.controller.Retriev</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Update</servlet-name>
  	<display-name>Update</display-name>
  	<description></description>
  	<servlet-class>com.controller.Update</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Studentinsert</servlet-name>
  	<display-name>Studentinsert</display-name>
  	<description></description>
  	<servlet-class>com.controller.Studentinsert</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Studentdelete</servlet-name>
  	<display-name>Studentdelete</display-name>
  	<description></description>
  	<servlet-class>com.controller.Studentdelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Studentretrive</servlet-name>
  	<display-name>Studentretrive</display-name>
  	<description></description>
  	<servlet-class>com.controller.Studentretrive</servlet-class>
  </servlet>
 
  <servlet>
  	<servlet-name>Studentupdates</servlet-name>
  	<display-name>Studentupdates</display-name>
  	<description></description>
  	<servlet-class>com.controller.Studentupdates</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Registerinsert</servlet-name>
  	<display-name>Registerinsert</display-name>
  	<description></description>
  	<servlet-class>com.controller.Registerinsert</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecorderRegister</servlet-name>
  	<display-name>RecorderRegister</display-name>
  	<description></description>
  	<servlet-class>com.controller.RecorderRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecorderLogin</servlet-name>
  	<display-name>RecorderLogin</display-name>
  	<description></description>
  	<servlet-class>com.controller.RecorderLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Rretrive</servlet-name>
  	<display-name>Rretrive</display-name>
  	<description></description>
  	<servlet-class>com.controller.Rretrive</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LibraryLogin</servlet-name>
  	<display-name>LibraryLogin</display-name>
  	<description></description>
  	<servlet-class>com.controller.LibraryLogin</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>Insertion</servlet-name>
  	<url-pattern>/Insertion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Deletion</servlet-name>
  	<url-pattern>/Deletion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Retriev</servlet-name>
  	<url-pattern>/Retriev</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Update</servlet-name>
  	<url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Studentinsert</servlet-name>
  	<url-pattern>/Studentinsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Studentdelete</servlet-name>
  	<url-pattern>/Studentdelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Studentretrive</servlet-name>
  	<url-pattern>/Studentretrive</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>Studentupdates</servlet-name>
  	<url-pattern>/Studentupdates</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Registerinsert</servlet-name>
  	<url-pattern>/Registerinsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecorderRegister</servlet-name>
  	<url-pattern>/RecorderRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecorderLogin</servlet-name>
  	<url-pattern>/RecorderLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Rretrive</servlet-name>
  	<url-pattern>/Rretrive</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LibraryLogin</servlet-name>
  	<url-pattern>/LibraryLogin</url-pattern>
  </servlet-mapping>
 
</web-app>
